<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
             
             
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Legos
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=all_toys"class="dropdown-item">Special Offers</a>
                <a href="{% url 'products' %}?category=lego"class="dropdown-item">Lego</a>
              
               
               
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other toys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=building_toys"class="dropdown-item">Building Toys</a>
                <a href="{% url 'products' %}?category=sport_toys"class="dropdown-item"> Sports Toys</a>
            </div>
        </li>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav w-auto mx-auto">
                <!-- Other navigation items -->
                <li class="nav-item">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog_home' %}">
                        Lego Testimonial
                    </a>
                </li>
            </ul>
        </div>
        
       
    </ul>
</div>